@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

/* Fix mobile viewport height */
html, body, #root {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Custom Scrollbar for brutalist look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid #000;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
